@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark-blue: #2C3E50;
    --color-white: #FFF;
    --color-green: #1ABC9C;
}

.nav-container {
    background-color: var(--color-dark-blue);
    height: 100px;
    width: 100%;
    padding: 20px;
    position: fixed;
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-main a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-brand {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin: 10px;
    font-size: 14px;
}

.profile-container {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 160px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img img {
    height: 150px;
}

.profile-title {
    font-size: 2rem;
    margin-top: 35px;
}

.profile-description {
    font-size: 1rem;
}

#portfolio {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-dark-blue);
    margin-top: 60px;
    margin-bottom: 10px;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc(100% - 40px);
    max-width: 420px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}